* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;800&family=Open+Sans:wght@300&family=Outfit:wght@400;700&display=swap");

body {
  background-color: var(--Light-gray);
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 320px;
  height: 515px;
  background-color: var(--White);
  border-radius: 15px;
  padding: 14px;
  text-align: center;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
}

img {
  width: 100%;
  height: 320px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  padding: 10px 15px 0 15px;
  color: var(--Dark-blue);
  margin-bottom: 15px;
}

p {
  padding: 0 24px 0 24px;
  color: var(--Grayish-blue);
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 700px) {
  .card {
    width: 375px;
  }
}
